@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.weather-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 501px;
  text-align: center;
  padding: 20px 20px 50px;
  margin: 10% auto 0;
  background-color: #F5F7FA; 
  border-radius: 9px;
}

.weather-content h1 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #5C6AC4; 
}

.weather-content p {
  color: #777777; 
}

.result {
  margin-bottom: 8%;
}

.result p {
  margin: 5px 0 5px;
}

.result h2 {
  font-size: 70px;
  line-height: 70px;
  margin: -10px 0 10px;
  color: #5C6AC4; 
}

.result h5 {
  font-size: 21px;
  margin: 2px;
  color: #5C6AC4; 
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="submit"],
form select {
  width: 100%;
  margin: 0px 0 25px;
  display: inline-block;
  border: 1px solid #DDDDDD;
  box-shadow: inset 0 1px 3px #EEEEEE; 
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
}

form input[type="submit"] {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #FF7F50; 
  border: 1px solid #FF7F50; 
  color: #FFFFFF;
  font-weight: 600;
  transition: width 1s;
}

form input[type="submit"]:hover {
  width: 50%;
}

.alert-message {
  margin: 24px 0 0;
  color: red !important;
}

/* Responsivo */

@media (max-width: 768px) {
  .weather-content {
    max-width: 100%;
  }
  
  form input[type="submit"]:hover {
    width: 100%;
  }
}


  @media screen and (max-width: 600px) {
    .weather-content {
        padding: 20px;
    }

    .result {
        text-align: center;
    }
}


@media screen and (min-width: 601px) {
    .weather-content {
        width: 600px;
        margin: 0 auto;
        padding: 40px;
    }

    .result {
        text-align: center;
    }

    .get-weather {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .get-weather select,
    .get-weather input[type="text"],
    .get-weather input[type="submit"] {
        margin: 10px;
    }
}